fastapi
uvicorn[standard]
langgraph
langchain-groq
langchain-openai
langgraph-checkpoint-redis
tenacity
pydantic
python-multipart
pillow
python-dotenv
redis
openai
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi 
ruff
pytest
mypy
opentelemetry-exporter-prometheus
prometheus-client
google-genai
